html {
  width: 100%;
  height: 100%;
}

body {
  padding-bottom: 80px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

a {
  color: #B20831;
}

a:hover {
  text-decoration: none;
  color: #660000;
}

hr {
  border-color: #B20831;
}

.container {
  width: auto;
}

.intro {
  padding: 160px 0 165px 0;
  color: #f4f4f4;
  height: 700px;
  background: url(../images/microsoft_access_banner.png) no-repeat top center scroll;
  background-color: #333333;
  -webkit-background-size: 100% cover;
  -moz-background-size: 100% cover;
  -o-background-size: 100% cover;
  background-size: 100% cover;
  font-family: 'Raleway', sans-serif;
}

#why {
  padding-top: 30px;
  padding-bottom: 30px;
}

.why-section {
  padding-top: 30px;
}

section.content {
  padding: 50px 0 30px 0;
}

li {
  margin-left: 10px;
}

li>span {
  margin-left: 10px;
}

li.subbullet {
  margin-left: 30px;
}

.code-block {
  border: 2px solid #ccc;
}

.best-practice {
  padding-right: 10px;
}

.online-sample-image {
  max-height: 350px;
}

.client-form {
  max-height: 250px;
}

.fa-check-circle {
  color: green;
}

.tech-logo {
  max-height: 100px;
  max-width: 150px;
  margin: 10px;
}

.tech-logo-main {
  max-height: 26px;
}

.client-logo {
  max-width: 100%;
}

#client-carousel {
  height: 120px;
}

.navbar-spacer {
  height: 75px;
  background: url(../images/microsoft_access_upper_banner.png) no-repeat bottom center scroll;
}

.navbar {
  height: 75px;
  margin-bottom: 0 !important;
  margin-left: -10px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0.95;
}

.navbar-brand {
  padding: 8px 20px;
  height: 80px;
  margin: 0;
}

.navbar-brand-logo {
  height: 65px;
}

.navbar-toggler {
  margin-right: 20px;
  margin-left: 30px;
  border-color: black !important;
}

.white-navbar-toggler {
  border-color: white !important;
}

.navbar-toggler-ico {
  color: black;
}

.white-navbar-toggler-ico {
  color: white;
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-item {
  margin: 0;
}

.navbar-nav>li>a {
  padding: 26px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.navbar-nav>li>a span {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 14px;
  display: block;
  font-weight: normal;
  font-family: arial;
  text-transform: none;
}

.top-nav-collapse {
  padding: 0;
  background-color: #262C28;
}

.top-nav-collapse a.dropdown-item {
  opacity: 1;
  color: black !important;
}

.top-nav-collapse a.dropdown-active {
  color: white !important;
}

.navbar-nav a:hover, .navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus, .dropdown-active {
  background-image: linear-gradient(to bottom, #74021e, #830323, #920427, #a2062c, #b20831);
  color: #fff !important;
}

.header-ribbon {
  height: 8px;
  background-image: linear-gradient(to top, #74021e, #830323, #920427, #a2062c, #b20831);
}

.float-right-what-we-do {
  float: right !important;
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #f4f4f4;
  a {
    color: rgba(0, 0, 0, 0.5);
  }
  a:hover {
    color: rgba(0, 0, 0, 0.7);
  }
}

/* tablets and wider */

@media (min-width: 768px) {
  a[href^="tel:"] {
    color: black;
  }
}

/* smaller than tablets */

@media (max-width: 767px) {
  body {
    padding-bottom: 0;
  }
  .footer {
    position: relative;
  }
  .intro {
    height: 500px;
    background: url(../images/microsoft_access_banner.png) no-repeat top left scroll;
  }
  #quickbooks-integration {
    padding-top: 30px;
  }
  #software-pros {
    padding-top: 20px;
  }
  #cost-savings {
    padding-top: 20px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  .navbar-spacer {
    height: 75px;
    background: url(../images/microsoft_access_upper_banner.png) no-repeat bottom left scroll;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .float-right-what-we-do {
    float: none !important;
    margin-bottom: 20px;
  }
}

/* smaller than laptop */

@media (max-width: 991px) {
  .navbar-collapse ul>li a {
    font-size: 16px;
    padding: 15px;
  }
  .navbar-expand-background {
    background-color: white;
  }
  .navbar-brand {
    padding: 5px 20px;
  }
  #quickbooks-integration {
    margin-top: 30px;
  }
}

/* laptop and wider */

@media (min-width: 992px) {
  .top-nav-collapse a {
    color: white !important;
  }
}

.light-phone-number {
  color: white !important;
}

.about-image {
  max-height: 200px;
}

/* large screen and wider */

@media (min-width: 1366px) {
  .navbar {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px
Extra Small Devices, Phones
@media only screen and (min-width : 480px) {

}

Small Devices, Tablets
@media only screen and (min-width : 768px) {

}

Medium Devices, Desktops
@media only screen and (min-width : 992px) {

}

Large Devices, Wide Screens
@media only screen and (min-width : 1200px) {

}
*/